@media screen and (max-width: 768px) {
    .main_text h1 {
      font-size: 2rem;
    }
  }
  .email {
    /* max-width: 600px; */
    display: inline-block;
  }
  .email_notify {
    margin-top: 30px;
    /* display: flgridex; */
    width: 50vw;
  }
  #myForm {
    display: grid;
    grid-template-columns: 60% 30%;
    gap: 20px;
    margin-bottom:20px;
  }
  @media screen and (max-width: 600px) {
    #myForm {
      grid-template-columns: 1fr;
      gap: 10px;
    }
    .email_notify {
      margin-top: 30px;
      display: flgridex;
      width: 70vw;
    }
  }
  .email_notify input {
    height: 50px;
    border-radius: 1000px;
    padding-left: 20px;
    border: none;
    background-color: white;
  }
  
  .email_notify button {
    height: 55px;
    border-radius: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fcc31e;
    cursor: pointer;
    border: none;
  }