*{
    color:#fff;
box-sizing: border-box;


}

.navbar-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.img{
    left: 20px;
    width: 20%;
    
}
.nav-tag-group{
    display: flex;
    
}
.nav-tag-group > li{
    text-decoration: none;
}

.dropdown-list{
    position: "absolute";
    top: "100%";
     left: 0;
}